.link {
	display: block;
	width: 100%;
}
.cardWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	width: 100%;
	height: 100%;
	padding: 16px;
	cursor: pointer;
	background: white;
	border: 1px solid var(--background-gray);
	border-radius: 20px;
	overflow: hidden;

	&_info {
		display: flex;
		flex-direction: column;
		height: 100%;
		gap: 12px;
		padding: 0 10px;
		justify-content: space-between;
		align-content: space-between;
	}

	&_category {
		display: flex;
		padding: 4px 12px;
		background: var(--accent);
		color: white;
		border-radius: 9999px;
	}
}
