.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 194px;
	padding: 0 224px;

	@media screen and (width <= 1300px) {
		padding: 0 5%;
	}

	@media screen and (width <= 800px) {
		flex-direction: column;
		height: 236px;
		padding: 20px 0 0;
	}
}
