.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 194px;
	padding: 0 224px;

	@media screen and (width <= 1300px) {
		padding: 0 5%;
	}

	@media screen and (width <= 800px) {
		flex-direction: column;
		height: 236px;
		padding: 20px 0 0;
	}

	@media screen and (width <= 500px) {
		padding: 15px 5px;

		.MuiGrid-item {
			text-align: center;
		}
	}
}

.textBlockFooter{
	display: flex;
	flex-direction: column;
	max-width: 300px;
}