.select {
	:global {
		.MuiOutlinedInput-root {
			background-color: var(--background-gray);
			color: var(--white-color);
			border-radius: 12px;

			&:hover fieldset {
				border-color: var(--white-color);
			}

			&.Mui-focused fieldset {
				border-color: var(--accent-color);
			}
		}

		.MuiInputLabel-root {
			color: var(--text-secondary);

			&.Mui-focused {
				color: var(--accent-color);
			}
		}

		.MuiSelect-icon {
			color: var(--white-color);
		}

		.MuiMenuItem-root {
			color: var(--black-color);
		}
	}
}