@mixin ignore-root-page-styles($margin-lg: -20px -13%, $margin-md: -20px -6.5%, $margin-sm: -10px -16.2px) {
	flex: 1;
	display: flex;
	margin: $margin-lg;
	background: var(--background-light-gray);

	@media screen and (max-width: 800px) {
		margin: $margin-md;
	}

	@media screen and (max-width: 500px) {
		margin: $margin-sm;
	}
}