.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	.header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.eventsList {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: 24px;
		width: 100%;
	}
}