@import '@/shared/styles/mixins.scss';

.wrapper{
	flex-direction: column;
	@include ignore-root-page-styles();
	background: var(--accent-color);
}

.btnBack{
	top: 5%;
	left: 5%;

	&:hover{
		transform: scale(1.05);
	}
}