.link{
	width: fit-content;
}
.cardWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	width: 400px;
	height: 450px;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	background: var(--background-gray);
	border-radius: 12px;
	overflow: hidden;
	padding-bottom: 16px;

	&_imgBox {
		position: relative;
		border-radius: 12px 12px 0 0;
		width: 100%;
		height: 300px;
		letter-spacing: 1.5px;

		img {
			border-radius: 12px 12px 0 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&_dates {
			position: absolute;
			height: 100%;
			width: 40px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			z-index: 100;
			writing-mode: vertical-rl;
			text-orientation: mixed;
			transform: rotate(180deg);
			background: var(--accent-color);
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px;
		}
	}

	&_info {
		display: flex;
		flex-direction: column;
		height: 100%;
		gap: 12px;
		padding: 0 10px;
		justify-content: space-between;
		align-content: space-between;
	}

	&_category{
		display: flex;
		padding: 6px 12px;
		background: var(--custom-dark-gray);
		border-radius: 24px;
	}
}